
-----------------------------------------------------------------------------
-- $table.Name
-----------------------------------------------------------------------------
$generator.parse("$basepath/drop.vm", "", "table", $tbl)
CREATE TABLE $table.Name
(
#set ( $cols = $generator.parse("$basepath/columns.vm", "", "table", $tbl) )
#set ( $unique = $generator.parse("$basepath/unique.vm", "", "table", $tbl) )
#if($strings.allEmpty([$unique]))$strings.chop($cols,2)#else$cols#end
#if($unique.length()>0)$strings.chop($unique,2)#end

);

#set ( $pk = $generator.parse("$basepath/primarykey.vm", "", "table", $tbl) )
#if($pk.length()>0)$pk#end

#set ( $fk = $generator.parse("$basepath/foreignkey.vm", "", "table", $tbl) )
#if ($fk.length()>0)$fk#end

#set ( $index = $generator.parse("$basepath/index.vm", "", "table", $tbl) )
#if($index.length() > 0)$index#end

##set $sequence = $generator.parse("$basepath/sequence.vm", "", "table", $tbl)
##if ($sequence.length()>0)$sequence#end

