#foreach ($col in $table.Columns)
    #set ( $type = $dbprops.get($col.Type) )
    #set ( $size = $col.printSize() )
    #set ( $default = $col.DefaultSetting )
    #set ( $nullString = $strings.select($col.isNotNull(), $dbprops.get("NOTNULL"),"") )
    #set ( $entry = "$col.Name $type $size $default $nullString," )
    $strings.sub($strings.collapseSpaces($entry)," ,",",")
#end
