<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
##
## This is an Velocity template for generating an HTML index
## of the Ant "categories" (antlibs)
##
## Objects expected in context:
##
##     $title   - Project title (of type String)
##     $antroot - (of type AntRoot)
## 
<html>
<head>
<title>$title</title>
<link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body class="index">
<div>
<h3>$title</h3>
<p>
<a href="overview.html" target="task">Overview</a>
</p>
<p>
<a href="index.all.html" target="taskindex"><i>Core Tasks</i></a><br />
#foreach ($category in $antroot.getCategories())
<a href="index.${category}.html" target="taskindex">$category Tasks</a><br/>
#end
</p>
</div>
</body>
</html>
