<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
##
## This is an Velocity template for generating an HTML index
## of the Ant Task/Types
##
## Objects expected in context:
##
##     $title   - Project title (of type String)
##     $antroot - (of type AntRoot)
## 
<html>
<head>
<title>$title</title>
<link href="styles.css" type="text/css" rel="stylesheet">
</head>
<body class="index">
<div>
<h3>#if ($category == 'all') Core #else $category #end Tasks</h3>
#foreach( $taskDoc in $antroot.getTasksByCategory($category) )
  #if ($taskDoc && !$taskDoc.isInnerClass())
<p><a href="${taskDoc.getFullClassName()}.html" target="task">Task <code>${taskDoc.getAntName()}</code></a></p>
    #if ($taskDoc.getShortComment())
<p class="taskShortDescription">$taskDoc.getShortComment()</p>
    #end
  #end
#end
</div>
</body>
</html>
