#set ( $database = $dataModel.database )
<?xml version="1.0"?>

<document>
  <properties>
    <title>$dataModel.name</title>
  </properties>

  <body>

  <section name="$dataModel.name">
  <table>
    <tr>
      <th>Table Name</th>
      <th>OM Class</th>
      <th>Description</th>
    </tr>
  #foreach ($tbl in $database.tables)
    <tr>
      <td><a href="#$tbl.Name">$tbl.Name</a></td>
      <td>$tbl.JavaName</td>
      <td>$!tbl.Description</td>
    </tr>
  #end
  </table>
  <p/>

  #foreach ($tbl in $database.tables)
    $generator.parse("doc/anakia/table.vm",$outFile,"table",$tbl)
  #end

  </section>
</body>
</document>
