
----------------------------------------------------------------------
-- $table.Name                                                      
----------------------------------------------------------------------

#set ( $fk = $generator.parse("$basepath/foreignkey.vm", "", "table", $tbl) )
#if($fk.length() >0)$fk#end
